{% extends 'base.html' %}
{% block title %}
  Tableau Visualizaciones
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Dashboard</th>
                <th scope="col">Pagina</th>
                <th scope="col">Descripcion</th>
                <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.page}}</td>
                    <td>{{ item.desc }}$</td> 
                    <td>
                        <!-- <button class="btn btn-outline btn-info">More Info</button>
                        <button class="btn btn-outline btn-success">Purchase this Item</button>
-->                     <a href="{{ url_for(item.page) }}" class="btn btn-primary active" role="button">Visualizar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}